page-result {
   .confirm-info{
       margin-top: 20px;
       margin-bottom: 23px;
   }
}

.successful-alert{
    text-align: center;
    color: black;
}
.successful-alert h1{
    font-size: 80px;
    color: green;
}