page-history-detail {
    .d-title{
        margin-right: 10px;
    }
    .d-detail{
        margin-top: 15px;
    }
    .d-head{
        font-size: 28px;
        color: navy;
    }
    .d-time{
        margin-left: 10px;
    }
    .d-count{
        margin-left: 46%;
    }
    .d-count-2{
        margin-left: 63%;
    }
    .d-all{
        padding-right: 10px;
        margin-top: 10px;
    }
}

