page-history {
    .h-description{
        color: silver;
        font-size: 13px;
    }
    .h-arrow{
    }
    .roomNo{
        font-size: 22px;
        font-weight: bold;
    }
    .none-user{
        padding-top: 40%;
        text-align: center;
        color: gray;
    }
    .none-user .none-user-title{
        font-size:20px;
    }
    .none-user h1{
        width: 60%;
        margin: auto;
    }
}

.reserve-detail{
    color: black;
}
.reserve-head{
    margin-bottom: 15px;
}