page-admin-manage {
    .none-user{
        padding-top: 40%;
        text-align: center;
        color: gray;
    }
    .none-user .none-user-title{
        font-size:20px;
    }
    .none-user h1{
        width: 60%;
        margin: auto;
    }
}
