page-change-username {
    .change-des{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    on-label{
        font-size:14px;
    }
    button{
        margin-bottom: 15px;
    }
    .change-submit{
        margin-bottom: 10px;
        margin-top: 25px;
    }
}
