page-choose-time {
    hr{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h4{
        color: navy;
    }
    .status{
        color: gray;
    }
    ion-icon{
        margin-right: 5px;
    }
    .bottom-descript{
        margin-top: 20px;
    }
    .next-btn{
        margin-top: 10px;
    }
    .date-none{
        padding-top: 30%;
        text-align: center;
        color:gray;
    }
    .date-none h1{
        font-size: 80px;
    }
}


